@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

:root {
  --red: #ef3651;
  --white: #f6f6f6;
  --black: #1e1f28;
  --gray: #abb4bd;
  --dark: #2a2c36;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  background: var(--black);
  font-size: 1em;
  color: #fff;
}

#root {
  min-height: 100vh;
}

.single-page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 0.5em;
}

.single-page .content {
  text-align: center;
}

.single-page .content h1 {
  color: var(--red);
}

.single-page .content h3 {
  color: var(--white);
}
