.about-page h4 {
  color: var(--red);
}

.about-page img {
  border-radius: 100%;
  margin: 20px;
}

.about-page p {
  font-size: 20px;
  max-width: 50%;
  margin: 16px auto;
}

.about-page + .xuder-navbar {
  background: var(--black);
}
