.compose-page {
  background-color: #1e1f28;
}

.compose-page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compose-page form {
  width: 70%;
  text-align: center;
}

.modal-title {
  color: #1e1f28;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px -6px #abb4bd;
}

.compose-page input {
  display: block;
  background-color: #2a2c36;
  border: 1px solid #abb4bd;
  border-radius: 8px;
  font-size: 18px;
  color: #abb4bd;
  outline: none;
  width: calc(100% - 18px);
}

.compose-page select {
  display: block;
  background-color: #2a2c36;
  border: 1px solid #abb4bd;
  font-size: 18px;
  color: #abb4bd;
  outline: none;
  width: 100%;
}

.compose-radio {
  display: flex;
  justify-content: space-between;
}

.compose-radio label {
  width: 45%;
}

.compose-label {
  color: var(--white);
  font-size: 25px;
  margin: 20px 0;
  display: block;
}

.compose-label h5 {
  margin-bottom: 8px;
}

.compose-page button {
  width: 100%;
  margin: 16px 0;
}

.diagram {
  width: 100%;
  max-height: 75vh;
}

.compose-page + .xuder-navbar {
  background: var(--black);
}
