.xuder-button {
  font-size: 20px;
  color: var(--white);
  background: var(--red);
  border: none;
  font-weight: bolder;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 8px;
  margin: 8px;
}
