.xuder-dropdown {
  background-color: var(--dark);
  border: 2px solid var(--gray);
  color: var(--white);
  border-radius: 8px;
  padding: 16px 24px 16px 8px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 32px 32px;
  margin: 20px 0;
}

.xuder-dropdown:hover {
  background-color: transparent;
  border-color: var(--red);
}
