.xuder-navbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 128px);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  height: 64px;
  align-items: center;
  padding: 0 64px;
}

.xuder-navbar ul {
  display: flex;
}

.xuder-navbar a {
  color: var(--white);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 32px;
  display: block;
}
