.xuder-radio-button {
  opacity: 0;
  position: fixed;
  width: 0;
}

.xuder-radio-button + label {
  display: inline-block;
  background: var(--dark);
  border: 1px solid var(--gray);
  color: var(--white);
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.xuder-radio-button + label:hover {
  background-color: transparent;
  border-color: var(--red);
}

.xuder-radio-button:checked + label {
  border-color: var(--red);
  background: var(--red);
  color: var(--white);
}
