.xuder-input-text {
  background: var(--dark);
  border: 2px solid var(--gray);
  color: var(--white);
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  margin: 20px 0;
}

.xuder-input-text:focus {
  background: transparent;
  border-color: var(--red);
}
